.login {
  background-color: var(--maincolor);
  background-image: url('../../assets/login/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.gsk {
  position: absolute;
  top: 5%;
  right: 5%;
}

.login .row {
  height: 94vh;
}

.wecan {
  width: 70%;
}

.form-container form {
  background-color: #fff;
  border-radius: 5px;
  padding: 40px;
  margin-top: 15px;
}

.form-container h3 {
  margin-bottom: 30px;
}

.form-container input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
}

.form-container label {
  margin-top: 10px;
  position: absolute;
}

.password-field {
  position: relative;
}

.show {
  position: absolute;
  width: 35px;
  right: 5px;
  top: 20%;
  cursor: pointer;
}

.login .form-control:focus,
.login button:focus,
.login button:active,
.login button:active:focus {
  border-color: var(--maincolor);
  box-shadow: 0 0 0 0.1rem var(--maincolor);
  border-color: var(--maincolor);
}

.login button:focus,
.login button:active {
  background-color: var(--maincolor);
}

.login button {
  background-color: var(--maincolor);
  border-color: var(--maincolor);
  width: 90%;
}

.login button:hover {
  background-color: var(--maincolor);
  border-color: var(--maincolor);
}

.login .alert {
  margin-top: 2px;
}

.footer {
  clear: both;
  position: relative;
  color: #fff;
}

.login h3 {
  color: var(--maincolor);
}

@media screen and (max-width: 768px) {
  .wecan {
    width: 60%;
  }
}
